/* General Layout */
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #00222E; /* Background color */
  color: #E7FFF0; /* Default text color */
}

/* Font-face */
@font-face {
  font-family: 'Hepta Slab';
  src: url('./assets/Hepta_Slab/heptaslab.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font globally */
body {
  font-family: 'Hepta Slab', sans-serif;
  margin: 0;
  padding: 0;
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00602D; /* Top bar color */
  padding: 10px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  background-color: #E7FFF0;
  border-radius: 8px;
}

.search-field {
  display: flex;
  align-items: center;
  background-color: #E7FFF0;
  color: #00222E;
  padding: 5px;
  border-radius: 16px;
  flex-grow: 1;
  margin: 0 10px;
}

.search-field input {
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
  margin-left: 5px;
}

.hamburger-menu {
  font-size: 24px;
  cursor: pointer;
}

/* Bottom Bar */
.bottom-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00602D; /* Bottom bar color */
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Ensures the bottom bar stays above content */
}

.tab {
  color: #E7FFF0;
  cursor: pointer;
  padding: 5px 10px;
}

.tab.active {
  /* Add any styles for active tab here, e.g., background change */
}

/* Tab Content */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  padding-bottom: 4rem; /* Prevents content from being hidden behind the bottom bar */
}

/* Light Green Circle with Arrow */
.green-circle {
  position: absolute;
  bottom: 4.5rem; /* Just above the bottom bar */
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  background-color: lightgreen;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00222E;
}
