/* General Styles */
body {
  margin: 0;
  background-color: #00222E; /* App background color */
  display: flex;
  flex-direction: column;
  font-family: 'Heptaslab', sans-serif; /* Default font */
  color: #E7FFF0; /* Default text color */
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Button Styles */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00602D; /* Matches the top and bottom bars */
  color: #E7FFF0;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #004D23;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* List Styles */
ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid #E7FFF0; /* Matches text color */
  gap: 1px;
  background-color: #00602D;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: #E7FFF0;
  color: #00222E;
  padding: 8px;
}

li:hover {
  background: #D6FFE3;
}

/* Anchor Styles */
a {
  font-weight: 800;
  text-decoration: none;
  color: #E7FFF0;
  transition: color 0.3s;
}

a:hover {
  color: #D6FFE3;
}
